* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
 font-family: Calibri;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
/*breakpoint*/
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background: none;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
} 

.menu ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.menu a:hover {
  background-color: rgb(204, 0 ,255);
  color: white;
}

a { 
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;

  animation: linear 2s animacaoTitulo forwards;
  }

@keyframes animacaoTitulo {
  0% {
    transform: scale(0.2) translateY(50vh);
    opacity: 0; 
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}  
  

.site-title {
  text-align: center;
  color: white;
  text-align: center;
  font-size: 3.5em;
  font-family: 'Press Start 2P', cursive;
}

.site-subtitle {
  color: white;
  text-align: center;
  font-size: 2.3em;
  font-family: 'Balsamiq Sans', cursive;
}

.img-Redes {
  height:150px;
  width:110px;
  display: flex;
}

section {
  color: white;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
}

.background {
    position: fixed;
    height: 110vh;
    width: 100vw; 
    z-index: -1; 
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 1500px 900px;
  }

.about3,
.about2,  
.about {
 text-align: center;
 justify-content: center;  
 font-size: 0.9em;
 font-family: 'Roboto', sans-serif;
}

.coração {
 margin-bottom: 1.0em;
 }

 .about2 {
 padding: 1.9em;
 }

 .about3 {
   margin-bottom: 3.8em;
 }

.contato .icons {
  text-align: center;
}

 .contato a {
font-size: 4.8em;
text-align: center; 
transition: text-shadow 1s;
 } 

 .contato a:active,
 .contato a:hover {
   text-decoration: none;
   text-shadow: 0px 0px 10px rgb(255, 255, 255);
 }

.aviao {
  margin-bottom: 0.8em;
}
